# This file can contain package requirements for the deployment to be installed via Python pip. Packages defined here
# will be installed with your deployment automatically.
#
# Example:
# requests==2.24.0
pandas == 1.1.4
numpy==1.18.0
scikit-learn==0.19.1
scipy==1.1.0
joblib==0.16.0